@page "/logout"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.Services
@inject NavigationManager Navigation;
@inject Shared.Communication.SignalRService SignalRService
@inject ILogger<Logout> Logger;
@inject ApplicationStorage ApplicationStorage;
@inject Shared.Services.LoginState LoginState

<button @onclick="SignOut">Logout</button>

@code {

	public async Task SignOut()
	{
		Logger.LogInformation("Starting to logout");

		await SignalRService.EnsureConnectionOpen();
		var userId = await ApplicationStorage.GetItem(ApplicationStorage.UserKey);
		await SignalRService.LogoutUserAsync(userId);
		await ApplicationStorage.RemoveItem(ApplicationStorage.UserKey);
		await SignalRService.NotifySessionStatusChanged(userId, false);

		LoginState.Clear();
		Navigation.NavigateTo("/login");
	}
}
