@page "/logout"
@rendermode InteractiveWebAssembly
@using Microsoft.AspNetCore.SignalR.Client
@using Shared.Services
@inject NavigationManager Navigation;
@inject Shared.Communication.SignalRService SignalRService
@inject ILogger<Logout> Logger;
@inject ApplicationStorage ApplicationStorage;

<button @onclick="SignOut">Logout</button>

@code {

	public async Task SignOut()
	{
		Logger.LogInformation("Starting to logout");

		if (SignalRService.HubConnection.State != HubConnectionState.Connected)
		{
			// get localstorage item with User Id
			await SignalRService.HubConnection.StartAsync();
		}
		var userId = await ApplicationStorage.GetItem(ApplicationStorage.UserKey);
		await SignalRService.LogoutUserAsync(userId);
		await ApplicationStorage.RemoveItem(ApplicationStorage.UserKey);

		// Redirect to login or home
		Navigation.NavigateTo("/login", forceLoad: true);
	}
}
