@inject ProfilesService ProfileService;
@using SkillSnap.Client.Services;
@using Shared.Models.DTO;

<h2>Profiles</h2>

@if (PortfolioUsers == null || PortfolioUsers.value.Count == 0)
{
        <div class="profiles-empty" role="status">No Profiles to show </div>
}
else
{
    foreach (var user in PortfolioUsers.value)
    {
        <ProfileCard Name="@user.Name" Bio="@user.Bio" ProfilePictureUrl="@user.ProfilePictureUrl" />
    }
}

@code {

    public Shared.Models.DTO.Profiles PortfolioUsers { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (PortfolioUsers == null || PortfolioUsers.value.Count == 0)
        {
            PortfolioUsers = await ProfileService.GetProfilesAsync();
        }
    }

}